.profile {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  margin: 0 auto;
  display: block;
  background-image: url('/images/me.png')
}
.name {
  text-align: center;
  font-size: 2em;
  color: #DDD;
  text-shadow: #000 0 0 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}
.header {
  padding: 80px 0 30px;
  background-image: url('/images/nyc.png');
  background-size: cover;
  border-bottom: 6px solid #888;
}
.description {
  text-align: center;
  font-size: 2em;
}
.description .link {
  color: #FFF;
  background-color: #000;
  padding: .5em;
  border-radius: 100%;
  font-style: normal;
}
.description .link:hover {
  color: #000;
  background-color: #FFF;
}
h1.section-head {
  display: inline-block;
  margin-left: .5em;
  border-right: .2em solid #FD0B02;
  padding: 0 .2em;
  font-size: 1.5em;
  text-align: right;
  width: 7em;
}
.card-container {
  max-width: 350px;
}
.card {
  margin: 10px;
}
.card:hover {
  transform: scale(1.05,1.05);
  transition-duration: .1s;
}
.card a {
  color: black;
  text-decoration: none;
}
.card .text {
  margin: 10px;
}
.card .text h1 {
  font-size: 1.2em;
  color: #333;
  margin:0;
}
.card .text h2 {
  font-size: .9em;
  color: #555;
  margin:0;
}
.card .text p {
  margin: 0;
  padding: 5px 0 10px;
  font-size: .9em;
}
.card .splash {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
}
.boeing {
  background-image: url('/images/boeing.png');
}
.boeing2 {
  background-image: url('/images/boeing2.png');
}
.nodesource {
  background-image: url('/images/nodesource.png');
}
.siuc {
  background-image: url('/images/siuc.png');
}
.dockerico {
  background-image: url('/images/dockerico.png');
}
.ofcourse {
  background-image: url('/images/ofcourse.png');
}
.getos {
  background-image: url('/images/getos.png');
  background-position: top !important;
}
.dante {
  background-image: url('/images/dante.png');
  background-position: top !important;
}
.iojs {
  background-image: url('/images/iojs.png');
  background-size: contain !important;
}
.stlaurs {
  background-image: url('/images/stlaurs.png');
  background-size: contain !important;
}
.acm {
  background-image: url('/images/acm.png');
  background-size: contain !important;
}
.openspace {
  background-image: url('/images/openspace.png');
  background-size: contain !important;
}
.hacksi {
  background-image: url('/images/hacksi.png');
  background-size: contain !important;
}
.press_hacksi_1 {
  background-image: url('/images/press_hacksi_1.png');
}
.press_hacksi_2 {
  background-image: url('/images/press_hacksi_2.png');
}
.press_openspace {
  background-image: url('/images/press_openspace.png');
}
.press_graduation {
  background-image: url('/images/graduation.png');
}
#schema {
  display: none;
}
body {
  margin: 0;
}
/* Post CSS */
p, h1, h2, h3, pre, ul {
  margin-left: 50px;
  margin-right: 50px;
}

pre {
  padding-top: 20px;
  padding-bottom: 20px;
}
