body {
  margin: 0 auto;
  padding: 50px 15px;
  line-height: 1.4;
  max-width: 650px;
}

.symbol {
  font-family: "Nerd";
  font-size: 30px;
  padding: 5px;
}

.symbol a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

pre.inline {
  display: inline;
}

code.inline {
  display: inline;
}

aside {
  padding: 1em;
  font-size: 0.9em;
  border-left: 0.25em solid #ccc;
  margin-left: 0.75em;
  font-style: italic;
}
